[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=Infill
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Flux Infill
Comment=Infill using flux via replicate